.home {
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 846px;

    background-color: var(--blue);

    width: 100%;
    padding: 3rem;
}

.homeSpan {
    display: flex;
    width: 100%;
    margin: 4.5rem 3rem;
}

.homeImg {
    width: 800px;
    height: 350px;

    margin: 5rem 3rem;

    border-radius: 1rem;
}

.homeTitle {
    margin-top: 7rem;

    font-size: 3rem;
    font-weight: 700;

    color: var(--green);
}

.homeText {
    margin-top: 7rem;

    font-size: 1.25rem;
    font-weight: 500;

    color: var(--green);
}

.homeRow {
    height: 1px;
    background: var(--green);
}